body {
  padding-top: 70px;
  background-color:white;
  color:rgb(90, 193, 228);
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;

  

}


.navbar-brand {
font-size: 24px;
}

p{
font-size: 19px;
color: black;
font-family: 'Times New Roman', Times, serif

}

ddark{

  color: white;
}

.photo {
  height: 70px;
  border-radius: 5%;
  object-fit: contain;

  
}




.photo:hover .overlay {
  opacity: 1;
}

.photo:hover {
  transform: scale(1.3);
  }


  .my-5 {
    display: flex;
    align-items: center;
    justify-content: center
  }
  .dr {

   
      height: 300px;
      width: 300px;
     
    
  }

  .dr{

    border: 5px solid #555;
  }

  
.dr:hover .overlay {
  opacity: 1;
}

.dr:hover {
  transform: scale(1.3);
  }
  
  h9{
    line-height: 3;
    font-size: 65px;
    font-weight: bolder;
    text-decoration: underline;
  }

 

  .cd{
    color:rgb(90, 193, 228);
    font-size: 50px;
    font-weight: bolder;
  }

  h11{

    color:rgb(90, 193, 228);

    font-size: 25px;
  }

  .title{

    color:rgb(90, 193, 228);
    font-weight: bolder;
    font-size: 50px;
 
  }

  .careert
  {
    text-decoration: underline;
  }

  
  .font-weight-light{
    text-decoration: underline;
  }
  

  .epi {

    height: 200px;
    width: 200px;
  border: 5px solid #555;
  margin: 12px;

  padding: 5px;
}



.epi:hover .overlay {
opacity: 1;
}

.epi:hover {
transform: scale(1.3);
}

.textc{
  color:rgb(90, 193, 228);
  font-weight: bolder;
  font-size: 30px;
}

p12{
  color:rgb(90, 193, 228);
font-size: 18px;
margin: 100px;

}


